# Importações

In [2]:
import pandas as pd
import numpy as np

# Inicialização dataset

In [24]:
df = pd.read_csv("projetos-de-pesquisa.csv", sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21382 entries, 0 to 21381
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id_projeto_pesquisa                    21382 non-null  int64
 1   codigo_projeto                         21382 non-null  object
 2   titulo                                 21382 non-null  object
 3   palavras_chave                         21130 non-null  object
 4   id_projeto                             21382 non-null  int64
 5   ano                                    21382 non-null  int64
 6   data_inicio                            21351 non-null  object
 7   data_fim                               21122 non-null  object
 8   situacao                               21382 non-null  object
 9   tipo_projeto                           21382 non-null  object
 10  categoria_projeto                      21382 non-null  object
 11  id_unidade                             21382 non-null  int64
 12  unidade                                21382 non-null  object
 13  id_coordenador                         69 non-null     float64
 14  coordenador                            69 non-null     object
 15  edital                                 8217 non-null   object
 16  id_grupo_pesquisa                      17636 non-null  float64
 17  grupo_pesquisa                         17597 non-null  object
 18  linha_pesquisa                         20721 non-null  object
 19  area_conhecimento_cnpq                 20971 non-null  object
 20  objetivos_desenvolvimento_sustentavel  499 non-null    object
dtypes: float64(2), int64(4), object(15)
memory usage: 3.4+ MB

# Consultas iniciais

In [8]:
print(f"Quantidade de nulos: \n{df.isnull().sum()}")
print("\n ========== \n ")
print(f"Porcentagem de nulos: \n{df.isnull().mean() * 100}")

Quantidade de nulos:
id_projeto_pesquisa                          0
codigo_projeto                               0
titulo                                       0
palavras_chave                             252
id_projeto                                   0
ano                                          0
data_inicio                                 31
data_fim                                   260
situacao                                     0
tipo_projeto                                 0
categoria_projeto                            0
id_unidade                                   0
unidade                                      0
id_coordenador                           21313
coordenador                              21313
edital                                   13165
id_grupo_pesquisa                         3746
grupo_pesquisa                            3785
linha_pesquisa                             661
area_conhecimento_cnpq                     411
objetivos_desenvolvimento_sustentavel    20883
dtype: int64

 ==========

Porcentagem de nulos:
id_projeto_pesquisa                       0.000000
codigo_projeto                            0.000000
titulo                                    0.000000
palavras_chave                            1.178561
id_projeto                                0.000000
ano                                       0.000000
data_inicio                               0.144982
data_fim                                  1.215976
situacao                                  0.000000
tipo_projeto                              0.000000
categoria_projeto                         0.000000
id_unidade                                0.000000
unidade                                   0.000000
id_coordenador                           99.677299
coordenador                              99.677299
edital                                   61.570480
id_grupo_pesquisa                        17.519409
grupo_pesquisa                           17.701805
linha_pesquisa                            3.091385
area_conhecimento_cnpq                    1.922178
objetivos_desenvolvimento_sustentavel    97.666261
dtype: float64

Vendo quais palavras chaves são iguais entre as linhas

In [7]:
contagem = df['palavras_chave'].value_counts()
palavras_chave_repetidos = contagem[contagem > 1]

print(f"{palavras_chave_repetidos}")

palavras_chave
;;                                                                    202
lectinas;defesa;heparina                                               10
x;x;x                                                                   9
a;a;a                                                                   9
Dengue, Febre Amarela, Aedes aegypti, Aedes albopictus, Culicidae       8
                                                                     ...
Hemoglobina S;Recém-nascidos;Anemia falciforme                          2
Hemoglobina S;Traço falciforme;Doadores de sangue                       2
Formacão de Conceitos;Currículo;Ensino-aprendizagem                     2
equilíbrio de fases;processos de separação;modelagem termodinâmica      2
Psicose, diagnóstico, esquizofrenia, transtorno bipolar, grafo          2
Name: count, Length: 4241, dtype: int64

In [25]:
print(df['data_inicio'].head(5))
print("\n========\n")
print(df['data_fim'].head(5))

0    2019/03/01 00:00:00.000
1    2019/02/18 00:00:00.000
2    2019/02/25 00:00:00.000
3    2019/02/04 00:00:00.000
4    2019/06/01 00:00:00.000
Name: data_inicio, dtype: object

========

0    2023/03/01 00:00:00.000
1    2021/02/19 00:00:00.000
2    2021/02/25 00:00:00.000
3    2021/02/04 00:00:00.000
4    2020/05/31 00:00:00.000
Name: data_fim, dtype: object

In [28]:
data_nulos_antes = (df['data_inicio'].isna().sum(), df['data_fim'].isna().sum())

df['data_inicio'] = pd.to_datetime(df['data_inicio'], errors='coerce')
df['data_fim'] = pd.to_datetime(df['data_fim'], errors='coerce')

data_nulos_depois = (df['data_inicio'].isna().sum(), df['data_fim'].isna().sum())

In [29]:
print(df['data_inicio'].head(5))
print("\n========\n")
print(df['data_fim'].head(5))

0   2019-03-01
1   2019-02-18
2   2019-02-25
3   2019-02-04
4   2019-06-01
Name: data_inicio, dtype: datetime64[ns]

========

0   2023-03-01
1   2021-02-19
2   2021-02-25
3   2021-02-04
4   2020-05-31
Name: data_fim, dtype: datetime64[ns]

In [31]:
print(f"Datas nulas antes: inicio={data_nulos_antes[0]}, fim={data_nulos_antes[1]}")
print(f"Datas nulas depois: inicio={data_nulos_depois[0]}, fim={data_nulos_depois[1]}")
print(f"Diferença: inicio={data_nulos_depois[0] - data_nulos_antes[0]}, fim={data_nulos_depois[1] - data_nulos_antes[1]}")

Datas nulas antes: inicio=31, fim=260
Datas nulas depois: inicio=31, fim=261
Diferença: inicio=0, fim=1